:root {
  --baseFont: 'Inter', sans-serif;
  --baseFontSize: 12px;

  --dayCellSize: 15px;

  --colorSoftPeach: #EDEDED;
  --colorBlueAngel: #ACD5F2;
  --colorMoonstoneBlue: #7FA8C9;
  --colorWedgewood: #527BA0;
  --colorBlueJay: #254E77;
  --colorMediumGrey: #7F7F7F;
  --colorMountainMist: #959494;
  --colorConcord: #7C7C7C;
  --colorBlack: #000000;
  --colorWhite: #FFFFFF;

  --colorBlackAlpha50: rgba(0, 0, 0, 0.5);
  --colorBlackAlpha90: rgba(0, 0, 0, 0.9);
}